<div class="top-new-container__news">
  <div style="display: flex; align-items: center;" @click="togglePanel()">
    <span style="flex-grow: 1;">{{ topNew.name }}</span>
    <a v-show="!showPanel">+</a>
    <a v-show="showPanel">-</a>
  </div>
  <section class="top-new-expand-panel" v-show="showPanel">
    <a v-for="mode in modes" href="#" @click="createParagraphFromNews(mode.id)" class="top-new-select-icon" >
      <span class="material-symbols-outlined">
        {{mode.icon}}
      </span>
      <span class="top-new-title">{{ mode.name }}</span>
    </a>
    <!-- <a href="#" @click="createParagraphFromNews('min')" class="top-new-select-icon">
      <span class="material-symbols-outlined">
        mood
      </span>
      <span>Minimal</span>
    </a>
    <a href="#" @click="createParagraphFromNews('med')" class="top-new-select-icon">
      <span class="material-symbols-outlined">
        emoji_objects
      </span>
      <span>Medium</span>
    </a>
    <a href="#" @click="createParagraphFromNews('pri')" class="top-new-select-icon">
      <span class="material-symbols-outlined">
        diamond
      </span>
      <span>Prime</span>
    </a> -->
  </section>
</div>