<div >
  <input type="text" @blur="updateTitle()" v-model="paragraph.title" style="font-size: 1.5rem;">
<div id="toolbar" style="position: sticky;top: 0;z-index: 1;background-color: whitesmoke;">
  <!-- Add buttons as you would before -->
  <!-- <button class="ql-bold">Bold</button>
  <button class="ql-italic">italix</button>  -->
  <button class="material-symbols-outlined"  id="bookmarkWord-icon">
    book
  </button>
  <!-- But you can also add your own -->
  <!-- <button id="custom-button"></button> -->
</div>
<div id="editor"></div>
<div class="doc-edit-bookmark-icon" @click="openBookmarkDialog()">
  <span class="material-symbols-outlined" style="margin-top: 0.3rem;">
    book
  </span>
</div>
<bookmark-dialog v-if="bookmarkDialog.open" :paragraphId="bookmarkDialog.data.paragraphId" @close="bookmarkDialog.open=false;"></bookmark-dialog>
</div>
