<div>
  <div class="top-news-container">
    <header class="top-news-container__header">Top News</header>
    <top-news v-for="(topNew, index) in topNews" @doc-edit="createParagraphFromNewsEvent" :topNew="topNew" :newsIndex="index" :modes="paragraphModes"></top-news>
  </div>
  <div class="home-container">
    <header class="home-container__header">Paragraph</header>
    <div v-for="item in items" class="doc" @click="toDocEdit(item)">
      <div class="doc__desc">
        <span class="material-symbols-outlined">
          description
        </span>
        <span :title="item.title" class="doc__title">{{ item.title }}</span>
      </div>
      <div style="display: flex; justify-content: center;">
        <span class="doc-date">{{ timeFormat(item.modified_on) }}</span>

      </div>
    </div>
  </div>
  <a class="home-add-btn" @click="createParagraph()">+</a>
</div>