<div >
  <div class="bookmark-dialog__word-container">
    <span class="bookmark-dialog__word">{{ bookmark.word }}</span>
    <span class="material-symbols-outlined" @click="speak(bookmark.word)">
      headphones
    </span>
    <span class="material-symbols-outlined" @click="getTranslateDetails()">
      zoom_in
    </span>
  </div>
  <ul class="meaning__translate" v-if="openedTranslate && translateDetails" >
    <li style="list-style-position: inside; border-top: 1px solid #80808054; margin: 1rem;">
      <span>{{ translateDetails.phonetic }}</span>
      <p>{{ translateDetails.definition }}</p>
      <p>{{ translateDetails.translation }}</p>

      <p v-for="exch in translateDetails.exchange">
        {{ exch }}
      </p>
    </li>
  </ul>
</div>