<div>
  <div class="bookmark-dialog__word-container">
    <span class="bookmark-dialog__word">{{ bookmark.word }}</span>
    <span class="material-symbols-outlined" @click="getTranslateDetails()">
      zoom_in
    </span>
  </div>
  <ol class="meaning__translate" v-if="openedTranslate && translateDetails" >
    <li v-for="translateDetail in translateDetails" style="list-style-position: inside;">
      <span>{{ translateDetail.speech_part }}</span>
      <p>{{ translateDetail.def }}</p>
      <p>{{ translateDetail.example }}</p>
    </li>
  </ol>
</div>