<div class="bookmark-dialog">
  <header class="bookmark-dialog__header">
    <span class="material-symbols-outlined">
      library_books
    </span>
    <span class="bookmark-dialog__title">    

    Bookmarks</span>
    <span class="material-symbols-outlined" @click="closeDialog()">
      close
    </span>
  </header>
  <section >

    
    <ul class="bookmark-dialog__bookmark-item">
      <li v-for="meaning in meanings" style="flex-grow: 1; list-style-type: none;">
        <bookmark-item :bookmark="meaning" style="margin-bottom: 2rem;"></bookmark-item>
      </li>
    </ul>

  </section>

</div>